/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	/*
  width: 750px;
  height: 550px;
  */
}

.serverResponseError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#searchLineContainer {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#listViewContainer {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.messageInListView {
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  outline: 0; /* prevent ugly borders in DisclosurePanel */
} 