/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.serverResponseError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#searchLineContainer {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#listViewContainer {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.messageInListView {
  margin-top: 4px;
  margin-bottom: 4px;
}

a {
  outline: 0; /* prevent ugly borders in DisclosurePanel */
}

.messageListEntryTypeIcon {
  height: 0.8em;
  margin-left: 4px;
  margin-right: 13px;
}

.messageListEntryUploadDate {
	color: black;
}

.messageListEntrySubjectUnread {
	color: #073;
}

.messageListEntrySecondLine {
	color: grey;
}
