<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>addMessageServlet</servlet-name>
    <servlet-class>com.appspot.hommkmessage.server.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>singleMessageServlet</servlet-name>
    <servlet-class>com.appspot.hommkmessage.server.SingleMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMessageServlet</servlet-name>
    <url-pattern>/hommk_message/post</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>singleMessageServlet</servlet-name>
    <url-pattern>/hommk_message/message</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hommk_message.html</welcome-file>
  </welcome-file-list>

</web-app>
